---
import { createClient } from '@sanity/client';

export async function getStaticPaths() {
  const client = createClient({
    projectId: '55d7az5p',
    dataset: 'production',
    // other configuration options...
  });

  const posts = await client.fetch(`*[_type == "post"]`);

  return posts.map(({ slug, title }) => ({
    params: { slug: slug.current },
    props: { title },
  }));
}

const { slug } = Astro.params;
const { title } = Astro.props;
---

<h1>{title}</h1>