@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 18px;
}

li {
  @apply list-disc;
  @apply list-inside;
}

h2 {
  font-weight: 500;
}

article a {
  @apply bg-blue-400;
  @apply underline;
}

article > h2 {
  margin: 4px 0px 4px 0px;
}


.common-header{
  position: sticky;
  top: 0;
  z-index: auto;
  backdrop-filter: blur(5px); /* Adjust the blur value as needed */
  padding: 16px; /* Adjust padding as needed */
  border-bottom: 1px solid #ddd;
}
.common-header .flex{
  justify-content: flex-end;
}

.blog-log{
  margin-bottom: -45px;
  margin-top: -20px;
}

.common-footer{
  background-color: white;
  border-top: 1px solid #ddd;
}