---
import HomeLayout from '../layouts/HomeLayout.astro';
import Posts from '../components/Posts.astro';
---
<html lang="en">
<script>
  window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
</script>
<script defer src="/_vercel/insights/script.js"></script>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>taleviewer</title>
    <!-- <meta http-equiv="refresh" content="0; URL=/blog" /> -->
</head>

<body>
  <HomeLayout>
    <Posts live={false}/>
  </HomeLayout>
</body>

</html>