<footer class="common-footer">
	<div class="bg-white-600 py-4 flex justify-center">
	  <div class="text-black">
		<a href="https://github.com/vathsa-hebbar/astro-blog">Source Code</a> - © Copyright 2023
	  </div>
	</div>
  </footer>