---
import NavLink from './NavLink.astro';
---
<header class="py-2 common-header">
  <img class="blog-log" src="/logo.svg" height="100" width="200" title="Astro logo" />
  <div
    class="flex content-between space-x-2 md:space-x-4 lg:space-x-4 text-black"
  >
    <div>
      <NavLink href="/blog" title="Blog Posts">
        Blog
      </NavLink>
    </div>
    <div>
      <NavLink href="/about" title="About Me">
        About
      </NavLink>
    </div>
  </div>
</header>