---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TaleViewer</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="TaleViewer"
    />
    <meta
      name="keywords"
      content="TaleViewer, Blog, Web Development, Angular, HTML, CSS, JavaScript, TypeScript, astrojs"
    />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />  
  </head>

  <body>
    <Header />
      <main class="flex flex-grow justify-center min-h-screen p-4">
        <slot/>
      </main>
    <Footer />
  </body>
</html>