---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import "../styles/global.css";
---
<!--Where stories breathe, dreams ignite, and knowledge comes alive in every word-->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>TaleViewer</title>
    <base href="/" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="TaleViewer"
    />
    <meta
      name="keywords"
      content="TaleViewer is not merely a website; it's an expansive portal to both boundless imagination and a dynamic wellspring of real-time information and learning insights. We stand as your haven for storytellers, where each tale discovers its voice, every narrative transforms into an enthralling adventure, and knowledge thrives as a living, breathing entity., Blog, Web Development, Angular, HTML, CSS, JavaScript, TypeScript, astrojs"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script defer src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3714960712557505"
     crossorigin="anonymous"></script>  
  </head>

  <body>
    <Header />
      <section class="bg-gray-900">
        <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-12">
            <div class="inline-flex justify-between items-center py-1 px-1 pr-4 mb-7 text-sm text-gray-700 rounded-full bg-gray-800">
              <img src="/logo_main.svg" height="100" width="500" title="Astro logo" />
            </div>
            <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5l text-white">Unleash Imagination, Ignite Knowledge, <a class="hover:underline" href="blog/#main-class">Explore</a>.</h1>
            <p class="mb-8 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">TaleViewer is not merely a website, it's an expansive portal to both boundless imagination and a dynamic wellspring of real-time information and learning insights. We stand as your haven for storytellers, where each tale discovers its voice, every narrative transforms into an enthralling adventure, and knowledge thrives as a living, breathing entity.</p> 
        </div>
      </section>
      <main id="main-class">

        <slot/>
      </main>
    <Footer />
  </body>
</html>